{% extends 'layouts/main.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class="page-header">
    <h2>About</h2>
</div>

<div>
    The Bar chart analyser is semi-automated interface. This system takes images of different catergories of bar chart such as simple bar, grouped bar, stacked bar, and histogram in both horizontal and vertical orientations. It performs tasks such as classification and data extraction.
</div>
<br><br>
<center><span style="font-weight:bold" ><p style="font-size:20px">System Architecture Diagram</span></center>
<img src="/static/data/teaser.png"  style="width:100%">
<br><br>
<center><span style="font-weight:bold" ><p style="font-size:20px">Image Annotation <br />(Demo Video)</span></center>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/t3rlG_v8sMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
<center><span style="font-weight:bold" ><p style="font-size:20px">People</span></center>

<!--<div class="col-lg-6  mb-4", align="center">-->
    <div class="info", align="center">
        <p><center><span style="font-weight:bold" >Professor Jaya Sreevalsan Nair, Komal Dadhich (MS), Sirichandana Daggubati (MS) </center></span>,<br/> International Institute of Information Technology Bangalore,<br /> 26/C, Hosur Rd, Electronics City Phase 1, Electronic City, <br />Bengaluru, Karnataka 560100</p>
        <p><span>Email:</span> <a href="mailto:jnair@iiitb.ac.in">jnair@iiitb.ac.in, komal.dadhich@iiitb.org, daggubati.sirichandana@iiitb.org</a></p>
        <p><span>Website:</span> <a href="https://www.iiitb.ac.in/GVCL/">https://www.iiitb.ac.in/GVCL/</a></p>
    </div>

{% endblock %}

